In [1]:
import pandas as pd
from scipy import stats
import numpy as np

In [2]:
!wget https://hr-projects-assets-prod.s3.amazonaws.com/lrpqaeb14h/e186636d099c5d032901dfaf5db68852/matches.csv
!wget https://hr-projects-assets-prod.s3.amazonaws.com/lrpqaeb14h/6f3085efd6250aa3c886059677871a29/deliveries.csv

--2023-08-08 18:32:11--  https://hr-projects-assets-prod.s3.amazonaws.com/lrpqaeb14h/e186636d099c5d032901dfaf5db68852/matches.csv
Resolving hr-projects-assets-prod.s3.amazonaws.com (hr-projects-assets-prod.s3.amazonaws.com)... 52.216.153.84, 52.217.232.73, 3.5.29.82, ...
Connecting to hr-projects-assets-prod.s3.amazonaws.com (hr-projects-assets-prod.s3.amazonaws.com)|52.216.153.84|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 139754 (136K) [binary/octet-stream]
Saving to: ‘matches.csv.1’

matches.csv.1       100%[===================>] 136.48K   541KB/s    in 0.3s

2023-08-08 18:32:12 (541 KB/s) - ‘matches.csv.1’ saved [139754/139754]

--2023-08-08 18:32:12--  https://hr-projects-assets-prod.s3.amazonaws.com/lrpqaeb14h/6f3085efd6250aa3c886059677871a29/deliveries.csv
Resolving hr-projects-assets-prod.s3.amazonaws.com (hr-projects-assets-prod.s3.amazonaws.com)... 52.216.153.84, 52.217.232.73, 3.5.29.82, ...
Connecting to hr-projects-assets-prod.s3.amazonaws.com (hr-projects-assets-prod.s3.amazonaws.com)|52.216.153.84|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18235327 (17M) [binary/octet-stream]
Saving to: ‘deliveries.csv.1’

deliveries.csv.1    100%[===================>]  17.39M  16.1MB/s    in 1.1s

2023-08-08 18:32:13 (16.1 MB/s) - ‘deliveries.csv.1’ saved [18235327/18235327]

In [3]:
deli = pd.read_csv('./deliveries.csv')
matche = pd.read_csv('./matches.csv')

In [4]:
matche.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",Anil Dandekar,Nigel Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [5]:
deli.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

# In IPL many players have registered their mark by giving amazing performances consisitently.

From the given datasets-

-Get Suresh Raina's individual scores from each match from the seasons 2008,2010,2011,2012,2013,2015 and
2019 respectively.

-Now get Suresh Raina's individual scores from each match in home city(Chennai) and individual scores from away cities((i.e) other than Chennai).

-Now,create a random sample of 20 data with seed value of 2.

-From the sample data sets perform t-test(paired) on individual runs scored by raina on home city and in
away cities

-Print the p-value

In [6]:
seasons = [2008,2010,2011,2012,2013,2015]
seasons_match_ids_home = matche[(matche.season.isin(seasons)) & (matche.city == 'Chennai')].id.values.tolist()
seasons_match_ids_away = matche[(matche.season.isin(seasons)) & (matche.city != 'Chennai')].id.values.tolist()

In [7]:
relevant_deli_home = deli[deli.match_id.isin(seasons_match_ids_home) & (deli.batsman ==  'SK Raina')]
relevant_deli_away = deli[deli.match_id.isin(seasons_match_ids_away) & (deli.batsman ==  'SK Raina')]

In [8]:
relevant_deli_home_runs = relevant_deli_home.groupby('match_id').batsman_runs.sum().values.tolist()
relevant_deli_away_runs = relevant_deli_away.groupby('match_id').batsman_runs.sum().values.tolist()

In [9]:
import random
random.seed(2)
relevant_deli_home_runs_sample = random.sample(relevant_deli_home_runs, 20)
relevant_deli_away_runs_sample = random.sample(relevant_deli_away_runs, 20)

In [10]:
import scipy.stats as stats
t_stat, p_val = stats.ttest_ind(relevant_deli_away_runs_sample, relevant_deli_home_runs_sample)
print('t_test_statistics is',round(t_stat,2))
print('p_value is', round(p_val,2))

t_test_statistics is 0.24
p_value is 0.81

# In IPL strike rate is important where batsman having higher strike rate helps team to get more runs.

From the given datasets-


-Get Rohit Sharma's individual strike rates from each match where he played for Mumbai Indians.

-Now from the above data get Rohit Sharma's individual strike rates in home city(Mumbai) and individual  
strike rates from away cities((i.e) other than Mumbai).

-Now, create a random sample of 20 data with seed value of 2.

-From the sample data sets perform t-test(paired) on individual runs scored by rohit on home city and in     
away cities

-Formula for calculating strike rate - (batsmen runs/ball faced)*100

-Print p value

In [11]:
relevant_match_ids = list(set(deli[(deli.batsman=='RG Sharma') & (deli.batting_team=='Mumbai Indians')].match_id.values.tolist()))

relevant_matches_home = matche[(matche.id.isin(relevant_match_ids)) & (matche.city=="Mumbai")].id.values.tolist()
relevant_matches_away = matche[(matche.id.isin(relevant_match_ids)) & (matche.city!="Mumbai")].id.values.tolist()

In [12]:
relevant_matches_home_deli = deli[(deli.match_id.isin(relevant_matches_home)) & (deli.batsman == 'RG Sharma')]
relevant_matches_away_deli = deli[(deli.match_id.isin(relevant_matches_away)) & (deli.batsman == 'RG Sharma')]

In [13]:
home_match_balls_faced = relevant_matches_home_deli.groupby('match_id').batsman.count().values.tolist()
home_match_runs_scored = relevant_matches_home_deli.groupby('match_id').batsman_runs.sum().values.tolist()

away_match_balls_faced = relevant_matches_away_deli.groupby('match_id').batsman.count().values.tolist()
away_match_runs_scored = relevant_matches_away_deli.groupby('match_id').batsman_runs.sum().values.tolist()

In [14]:
home_sr = [ round(((home_match_runs_scored[i]/home_match_balls_faced[i])*100),2) for i in range(len(home_match_balls_faced))]
away_sr = [ round(((away_match_runs_scored[i]/away_match_balls_faced[i])*100),2) for i in range(len(away_match_balls_faced))]

In [15]:
import random
random.seed(2)
home_sr_sample = random.sample(home_sr, 20)
away_sr_sample = random.sample(away_sr, 20)

t_stat, p_val = stats.ttest_ind(home_sr_sample, away_sr_sample)
print('t_test_statistics is',round(t_stat,2))
print('p_value is', round(p_val,2))

t_test_statistics is -0.97
p_value is 0.34